APP_URL=https://yourdomain.com

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=snydiagram
DB_USERNAME=dbuser
#Need to be setup by hand when first deploying
DB_PASSWORD=CHANGE_ME_STRONG_PASSWORD

COMPOSE_BAKE=false
