/.phpunit.cache
/node_modules
.env.backup
.env.production
.phpunit.result.cache
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.vscode
.idea
*.log
.DS_Store
.env
.phpactor.json
/.idea
/.nova
/.zed
/auth.json
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
